@using Microsoft.AspNetCore.Identity
@using SyncfusionHelpDesk.Data
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="button-container">
    <SfButton OnClick="@ToggleRole"
              CssClass="e-secondary" Content="@buttonText"></SfButton>&nbsp;
    @if (isAdmin)
    {
        <SfButton OnClick="@(() => NavigationManager.NavigateTo("/administration"))"
                  CssClass="e-primary" Content="Administration"></SfButton>
    }
</div>
<br />
@code {
#nullable disable
    [Parameter]
    public EventCallback<bool> OnRoleChanged { get; set; } // Expose event to parent

    private string ADMINISTRATION_ROLE = "Administrators";
    private string buttonText = "Loading...";
    private ApplicationUser currentUser;
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserAndRole();
    }

    private async Task LoadUserAndRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            currentUser = await UserManager.FindByNameAsync(user.Identity.Name);
            isAdmin = await UserManager.IsInRoleAsync(currentUser, ADMINISTRATION_ROLE);
            UpdateButtonText();
        }
        else
        {
            buttonText = "Not Logged In";
        }
    }

    private void UpdateButtonText()
    {
        buttonText = isAdmin ? "Make Me a Normal User" : "Make Me an Administrator";
    }

    private async Task ToggleRole()
    {
        if (currentUser != null)
        {
            if (isAdmin)
            {
                await UserManager.RemoveFromRoleAsync(currentUser, ADMINISTRATION_ROLE);
                isAdmin = false;
            }
            else
            {
                await UserManager.AddToRoleAsync(currentUser, ADMINISTRATION_ROLE);
                isAdmin = true;
            }

            UpdateButtonText();
            await OnRoleChanged.InvokeAsync(isAdmin); // Raise event to notify parent
        }
    }
}